<footer class="text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnQ8SIykn8p54532A2y8ItPP-6Ub4-JmcKbg&usqp=CAU" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://cdn1.jewelxy.com/live/img/business_product/7OOQveQu2n_20220323155709.jpg" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://target.scene7.com/is/image/Target/GUEST_edb5eb6a-1a4f-4475-921b-8f5d8b2ff298?qlt=65&fmt=pjpeg&hei=350&wid=350" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://2.wlimg.com/product_images/bc-full/2023/8/12187167/ladies-brown-cotton-crop-top-1691493926-7022250.jpeg" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsIbSYBao_dBYqSDInk3cRreV7-tgE_2WtyQ&usqp=CAU" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3wU3G6hTlTRB49Rn9fkI-quge44IcxzKuYg&usqp=CAU" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">shoptrek.com</a>
    </div>
    <!-- Copyright -->
  </footer>